Package: librexec
Version: ::VERSION::
Section: free
Priority: optional
Architecture: all
Depends: openssh-client
Installed-Size: 0
Maintainer: Kael Shipman <kael.shipman@gmail.com>
Description: A bash microlibrary for abstracting commands that may be local or remote
 See https://github.com/kael-shipman/librexec for more details
